name: Continous Integration
on: push

jobs:
  build-test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Check out repository code
        uses: actions/checkout@v5
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "9.0.x"
          cache: true
          cache-dependency-path: |
            src/packages.lock.json
            test/packages.lock.json
      - name: Install dependencies
        run: dotnet restore --locked-mode
      - name: Build solution
        run: dotnet build -c Release --no-self-contained --no-restore
      - name: Run tests
        run: dotnet test -c Release --no-build --no-restore
